* {
  background-color: #131415;
}
.board3 {
  position: absolute;
  width: 424px;
  height: 534px;
  left: 508px;
  top: 245px;
  background: #232527;
  box-shadow: 7px 8px 52px rgba(0, 0, 0, 0.35);
}
.p3 {
  position: absolute;
  width: 180px;
  height: 24px;
  left: 122px;
  top: 358px;
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  background: none;
}

.b3 {
  position: absolute;
  left: 84px;
  right: 102px;
  top: 88px;
  bottom: 243px;
  width: 238px;
  height: 203px;
  background: none;
}

.v3 {
  position: absolute;
  width: 328.1px;
  height: 283.53px;

  left: 45px;
  top: 45px;
  bottom: 185px;
  background-color: #232527;
  transform: rotate(9.33deg);
  background: none;
}
.bt3 {
  position: absolute;
  background: none;
  text-decoration: none;
  position: absolute;
  width: 120px;
  height: 27px;
  font-family: "Nunito", sans-serif;
  text-align: center;
  color: #ffffff;
  left: 161px;
  line-height: 27px;
  font-weight: 500;
  font-size: 20px;
  top: 440px;
}
.c-3 {
  position: absolute;
  width: 18px;
  top: 491px;
  border: none;
  background: none;
  height: 7px;
  border-radius: 5px;
  left: 211px;
  background-color: #ffffff;
}
.r1-3 {
  width: 4px;
  height: 4px;
  border: none;
  background: none;
  border-radius: 5px;
  background: #919191;
  position: absolute;
  top: 491px;
  left: 181px;
  padding: 2px 2px 2px 2px;
}
.r2-3 {
  width: 4px;
  height: 4px;
  border: none;
  background: none;
  border-radius: 10px;
  background: #919191;
  position: absolute;
  top: 491px;
  left: 196px;
  padding: 2px 2px 2px 2px;
}
.r3-3 {
  width: 4px;
  height: 4px;
  border: none;
  background: none;
  border-radius: 5px;
  background: #919191;
  position: absolute;
  top: 491px;
  padding: 2px 2px 2px 2px;
  left: 236px;
}
.skip3 {
  color: #919191;
  position: absolute;
  width: 30px;
  border: none;
  background: none;
  text-decoration: none;
  height: 21px;
  left: 705px;
  top: 807px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  font-family: "Nunito", sans-serif;
}
